/* Stylesheet for UnauthOurMission component */

/* Styling the container */
.mission-container {
    padding: 20px;
    border-radius: 8px;
    margin: 20px;
}

/* Styling the heading */
h2 {
    color: #333;
    font-family: 'Arial', sans-serif;
    margin-bottom: 20px;
    font-size: 2rem;
}



/* Styling the paragraph */
.mission-p {
    font-family: 'Georgia', serif;
    color: #666;
    font-size: 1rem;
    line-height: 1.6;
    text-align: justify;
    padding-bottom: 1rem;
}
